  <div class="block-7">
    <div class="text-center">
      <span class="excerpt d-block">Personal</span>
      <span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mos</sub></span>

      <ul class="pricing-text mb-5">
        <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
        <li><span class="fa fa-times mr-2"></span>Online Marketing</li>
        <li><span class="fa fa-check mr-2"></span>Branding Services</li>
        <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
        <li><span class="fa fa-check mr-2"></span>Sales Management</li>
      </ul>

      <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
    </div>
  </div>

