<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-wrap">
          <div class="row">
            <div class="d-flex align-items-center">
              <p class="mb-0 phone pl-md-2">
                <a href="#"><span class="fa fa-paper-plane mr-1"></span> dailygads.store@gmail.com</a>
              </p>
            </div>
            <div style="position: absolute; right: 0; bottom: -2mm;">
              <div class="d-flex">
                <div class="social-media">
                  <p class="mb-0 d-flex">
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">DailyGads</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']" class="nav-link">Home</a></li>
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation" routerLinkActive="active"><a [routerLink]="['/about']" class="nav-link">About</a></li>
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation" routerLinkActive="active"><a [routerLink]="['/pricing']" class="nav-link">Pricing</a></li>
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation" routerLinkActive="active"><a [routerLink]="['/portfolio']" class="nav-link">Portfolio</a></li>
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation" routerLinkActive="active"><a href="#testimonials" class="nav-link">Testimonials</a></li>
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation" routerLinkActive="active"><a [routerLink]="['/blog']" class="nav-link">Blog</a></li>
        <li class="nav-item"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation" routerLinkActive="active"><a [routerLink]="['/contact']" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
