<div class="blog-entry align-self-stretch">
  <a routerLink="blog/child-a" class="block-20 rounded" style="background-image: url('../../../assets/images/image_1.jpg');">
  </a>
  <div class="text p-4">
    <div class="meta mb-2">
      <div><a href="#">March 31, 2020</a></div>
      <div><a href="#">Admin</a></div>
      <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
    </div>
    <h3 class="heading"><a routerLink="blog/child-a">Even the all-powerful Pointing has no control about the blind texts</a></h3>
  </div>
</div>

