<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 d-flex">
        <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(../../assets/images/about.jpg);">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 py-md-5">
        <div class="heading-section pl-md-4 pt-md-5">
          <span class="subheading">Welcome Dropshippers</span>
          <h2 class="mb-4">We Are the Best Dropshipping video editors</h2>
        </div>
        <div class="services-2 w-100 d-flex">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>

          <div class="text pl-4">
            <h4>Content Searching</h4>
            <p>Your only job is to provide us with the product name and we make all the searching. We source footage from the web, whether it is from a third party supplier, Youtube or even stock footage.</p>
          </div>
        </div>
        <div class="services-2 w-100 d-flex">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
          <div class="text pl-4">
            <h4>Editing The Video</h4>
            <p>With the content we have collected and thanks to our great editors, we make sure we deliver a unique dropshipping video ad.</p>
          </div>
        </div>
        <div class="services-2 w-100 d-flex">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
          <div class="text pl-4">
            <h4>Making Eye Catching Thumbnail</h4>
            <p>Our designers collect images and use their creativity to make an eye catching thumbnail that will make your product convert.</p>
          </div>
        </div>
        <div class="services-2 w-100 d-flex">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wealth"></span></div>
          <div class="text pl-4">
            <h4>Delivering & Launching</h4>
            <p>After making all the modifications requested and making sure our dropshipper is satisfied, we deliver the dropshipping video ad & the thumbnail that would make your sales go through the roof.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

