<div class="hero-wrap">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(../../assets/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate">
            <div class="text w-100 text-center">
              <h2>We Business Grow</h2>
              <h1 class="mb-4">We Help You Businesses Innovate and Grow</h1>
              <p><a href="#" class="btn btn-white">Connect with us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image:url(../../assets/images/bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate">
            <div class="text w-100 text-center">
              <h2>We Support Business</h2>
              <h1 class="mb-4">The Best Business Support</h1>
              <p><a href="#" class="btn btn-white">Connect with us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image:url(../../assets/images/bg_3.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate">
            <div class="text w-100 text-center">
              <h2>We Give Advice</h2>
              <h1 class="mb-4">Expert Financial Advice</h1>
              <p><a href="#" class="btn btn-white">Connect with us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
