<div class="hero-wrap">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(../../assets/images/bg_4.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate">
            <div class="text w-100 text-center">
              <h2>We Give Advice</h2>
              <h1 class="mb-4">We Are Dropshipping Video Experts</h1>
              <p><a routerLink="portfolio" class="btn btn-white">Explore Portfolio</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image:url(../../assets/images/bg_6.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate">
            <div class="text w-100 text-center">
              <h2>We Grow Business</h2>
              <h1 class="mb-4">We Help Your Dropshipping Business Grow</h1>
              <p><a routerLink="portfolio" class="btn btn-white">Explore Portfolio</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="slider-item" style="background-image:url(../../assets/images/bg_7.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate">
            <div class="text w-100 text-center">
              <h2>We Understand Our Client</h2>
              <h1 class="mb-4">The Best Service Communication</h1>
              <p><a routerLink="portfolio" class="btn btn-white">Explore Portfolio</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
