<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Price &amp; Plans</span>
        <h2>Affordable Packages</h2>
      </div>
      <ngx-carousel
        [inputs]="carouselOne"
        class="row" >
        <ngx-item NgxCarouselItem class="col-md-4" *ngFor="let pricing of pricings; let i=index">
          <div class="ftco-animate">
            <div class="block-7">
              <div class="text-center">
                <app-pricing-item [pricing]="pricing"></app-pricing-item>
              </div>
            </div>
          </div>
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>
  </div>
</section>



