<section class="ftco-counter bg-light ftco-no-pt" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number">209</strong>
          </div>
          <div class="text">
            <span>Satisfied Clients</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number">300</strong>
          </div>
          <div class="text">
            <span>Dropshipping Ads</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number">5</strong>
          </div>
          <div class="text">
            <span>Star Rating</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <div class="row" style="padding-left: 45%"><strong class="number">100</strong>
              <strong>&#37;</strong></div>
          </div>
          <div class="text">
            <span>On Time Delivery</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Videos & Thumbnails</span>
        <h2>Latest Projects Done</h2>
        <a routerLink="portfolio" id="explore-all-button" class="btn btn-primary d-block px-2 py-3">Explore All</a>
      </div>
    </div>
<!--    <div class="row d-flex">-->
<!--      <div class="col-md-4 d-flex ftco-animate" *ngFor="let ad of ads">-->
<!--        <app-ad-item [ad]="ad"></app-ad-item>-->
<!--      </div>-->
<!--    </div>-->
    <ngx-carousel
      [inputs]="carouselOne"
      class="row" >
      <ngx-item NgxCarouselItem class="col-md-4" *ngFor="let ad of ads; let i=index">
        <app-ad-item [ad]="ads[i]"></app-ad-item>
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
  </div>
</section>


