<div class="blog-entry align-self-stretch">
  <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" [src]="ad.videoPath | safe"></iframe>
  </div>
  <div class="text p-4">
    <div class="meta mb-2">
      <div><a href="#">{{ad.date | date}}</a></div>
      <div><a href="#">{{ad.name}}</a></div>
      <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
    </div>
    <h3 class="heading"><a href="#">{{ad.description}}</a></h3>
  </div>
</div>
