<section class="ftco-section testimony-section bg-light">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
        <span class="subheading">Testimonies</span>
        <h2>Happy Clients &amp; Feedbacks</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div   class="carousel-testimony owl-carousel ftco-owl" >
          <app-testimonial-item *ngFor="let testimonial of testimonials" [testimonial]="testimonial"></app-testimonial-item>

        </div>
      </div>
    </div>
  </div>
</section>
